h1 {
    
}

table {
    border: 5px outset gray;
}

table, td, th {
    margin: 20px;
    
}

th {
    border: 2px outset gray;
}

td {
    border: 2px inset gray;
}

th, td {
    padding: 10px;
}

img#boxmodel {
    height: 50%;
    width: 50%;
}

dd {
    font-family: cursive;
}
