h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 26px;
}

table {
    border: 5px outset gray;
    border-radius: 15px;
    padding: 5px;
    
}

table, td, th {
    margin: 20px;
    
}

th {
    border: 3px outset gray;
}

td {
    border: 3px inset gray;
}

th, td {
    padding: 10px;
}

img#boxmodel {
    height: 50%;
    width: 50%;
}

dd {
    font-family: cursive;
}
